* {
   padding: 0px;
   margin: 0px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
   background-color: rgb(185, 185, 185);
}

.header {
   background-color: grey;
   padding: 10px;
   margin-bottom: 16px;
   color: rgb(222, 222, 222);
}

.header a {
   text-decoration: none;
   color: inherit;
}

.header a:hover {
   color: white;
}

.recipecards {
   margin-left: 20px;
}

.recipecards a {
   text-decoration: none;
   color: rgb(57, 57, 57)
}

.recipecards a:hover {
   color: white;
}

.recipecards img {
   width: 250px;
   height: auto;
   border: solid 2px transparent;
}

.recipecards img:hover {
   border: solid 2px white;
}

.content {
   padding: 0 10px;
   color: darkslategray;
}

.content img {
  display: block;
  margin: 16px auto;
  border: solid 2px white;
}

.content p, ul, ol {
   margin-bottom: 16px;
   margin-inline-start: 32px;
}

.content h1 {
   margin-bottom: 16px;
   color: rgb(57, 57, 57);
}

.content h2, h3 {
   margin-bottom: 8px;
   color: rgb(57, 57, 57);
}