* {
   padding: 0px;
   margin: 0px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html, body {
   height: 100%;
}

.full-height {
   height: 100%
}

body {
   background-color: #F0F0F0;
}

.header {
   background-color: #FCFCFC;
   padding: 10px;
   color: #202020;
   border-bottom: solid 1px #BBBBBB;
}

.header a {
   text-decoration: none;
   color: inherit;
   margin-left: 10px;
}

.header a:hover {
   color: #646464;
}

.page-container {
   max-width: 1020px;
   margin: 0 auto;
   background-color: #E8E8E8;
}

.recipecards {
   margin-left: 20px;
}

.recipecards a {
   text-decoration: none;
   color: #202020;
}

.recipecards a:hover {
   color: #646464;
}

.recipecards img {
   width: 250px;
   height: auto;
   border: solid 3px transparent;
}

.recipecards img:hover {
   border: solid 3px #FCFCFC;
}

.content {
   padding: 15px 10px;
   color: #646464;
}

.content .btn {
   text-decoration: none;
   color: #646464;
   font-weight: bold;
   background-color: #BBBBBB;
   padding: 5px 10px;
   border-radius: 20px;
   corner-shape: squircle;
}

.content .btn:hover {
   color: #BBBBBB;
   background-color: #F0F0F0;
}

.content img {
  display: block;
  margin: 16px auto;
  border: solid 2px white;
}

.content p,
.content ul,
.content ol {
   margin-bottom: 16px;
   margin-left: 32px;
}

.content h1 {
   margin-top: 10px;
   margin-bottom: 16px;
   color: #202020;
}

.content h2,
.content h3 {
   margin-bottom: 8px;
   color: #202020;
}