* {
   padding: 0px;
   margin: 0px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
   background-color: grey;
   padding: 10px;
   margin-bottom: 16px;
   color: rgb(222, 222, 222);
}

.header a {
   text-decoration: none;
   color: inherit;
}

.header a:hover {
   color: white;
}

.content {
   padding: 0 10px;
}

.content a {
   text-decoration: none;
   color: darkslategrey;
   font-weight: bold;
}

.content a:hover {
   color: white;
}

.content img {
  display: block;
  margin: 16px auto;
  border: solid 4px white;
}
.content p {
   margin-bottom: 16px;
   margin-inline-start: 32px;
}

.content ul {
   margin-bottom: 16px;
   margin-inline-start: 32px;
}

.content ol {
   margin-bottom: 16px;
   margin-inline-start: 32px;
}

.content h1 {
   margin-bottom: 16px
}

.content h2 {
   margin-bottom: 8px
}

.content h3 {
   margin-bottom: 8px
}

body {
   background-color: rgb(185, 185, 185);
}